.index-icon-center{
	position: absolute;
  width: 44px;
  height: 76px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
  .index-icon-img{
    width: 100%;
    height: 100%;
  }
}

.index-callout{
  position: fixed;
  bottom: 58%;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  display: flex;
  background: #1B77F5;
  padding: 18px 59px 18px 40px;
  border-radius: 50px;
  box-shadow: 0 0 5px 2px #ccc;
  font-size: 24px;
  color: #FFFFFF;
  max-width:328px;
  .index-arrow-right{
    position: absolute;
    top:50%;
    right:24px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
  }
  .index-arrow-down{
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height:0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-top: 16px solid #1B77F5;
  }
}

.bottom-panel {
  position: fixed;
  width: 100%;
  bottom: 20px;
  background: #fff;
}
/**底部布局**/
.index-bottom{
  background: transparent;
  z-index: 0;
  .b-controls{
    width: 100px;
    height: 100px;
  }
  .b-icon-user{
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .b-icon-location{
    position: absolute;
    right: 1%;
    top: -110px;
  }
  .b-icon-promotion{
    position: absolute;
    top: -210px;
    right: 1%;
  }
  .b-icon-adver{
    position: absolute;
    left: 1%;
    top: -110px;
  }
  .b-icon-adver1{
    position: absolute;
    left: 1%;
    top: -210px;
  }
  .b-icon-security{
    position: absolute;
    left: 2%;
    top: -100px;
  }
  .b-icon-security{
    position: absolute;
    left: 2%;
    top: -100px;
  }
}
